main-element {
	display: block; /* Displays rules properly */
	background-color: var(--main-element-bg);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	transition: background-color 0.2s ease, border 0.2s ease;
	margin: 1em;
	margin-inline: 15%;
	padding: 1em;

	border: 2px solid var(--accent);
	border-radius: 0.5em;

	&:hover {
		border: 2px solid var(--accent3);
	}
}

main-element.welcome h1 {
	text-align: center;
}

.three-grid main-element {
	margin-inline: 0;
}

.button, button {
	background-color: var(--main2);
	border: 1px solid var(--accent);
	border-radius: 0.5em;
	padding: 0.5em;

	text-decoration: none;	
}

.button:hover, button:hover {
	background-color: var(--accent3);
}

nav div { /* Button Align */
	padding: 1em;
} 

.align p {
  line-height: 2;
}