nav {
    display: block;
    width: 100%;
    height:4em;
    background-color: var(--main);
    position: fixed;
    top:0;

    border-bottom: 1px solid var(--accent);
    background-image: url(../assets/banner3.png);
    background-repeat: no-repeat;
    background-position: right;
}