nav {
    display: block;
    width: 100%;
    height:4em;
    background-color: var(--main);
    position: fixed;
    top:0;
    z-index: 100000;

    border-bottom: 2px solid var(--accent);
    background-image: url(../assets/images/banner.png);
    background-repeat: no-repeat;
    background-position: right;
}

nav:hover {
    border-bottom: 2px solid var(--accent3);
}